.navbar{
            background-color: black;
}


.card-body{
    height: 100%;
}
#blogs .carousel-control-prev-icon,
#blogs .carousel-control-next-icon {
  height: 60px;
  width: 60px;
  outline: black;
  background-size: 100%, 100%;
  border-radius: 50%;
  /* border: 1px solid black; */
  background-image: none;
}

#blogs .carousel-control-next-icon:after
{
  content: '>';
  font-size: 20px;
  color: black;
}

#blogs .carousel-control-prev-icon:after {
  content: '<';
  font-size: 20px;
  color: black
}

