<% layout('/layout/boilerplate.ejs')%>
    <h1>expert login</h1>
    <!-- later add flash message -->

    <form action='/expert/login' method='post'>
        <input type='text' name='username' placeholder='username'>
        <input type='password' name='password' placeholder='password'>
    
    <button>log in</button>
    </form>

    
