<% layout('/layout/boilerplate.ejs')%>


    <h1>register expert</h1>
    <!-- later add flash message -->

    <form action='/expert/register' method='post'>

    <input type='text' name='fullname' placeholder='fullname'>
    <input type='email' name='email' placeholder='email'>
    <input type='text' name='age' placeholder='age'>
    <input type='text' name='experience' placeholder='experience'>
    <input type='text' name='freetime' placeholder='freetime'>
    
    <input type='text' name='username' placeholder='username'>
    <input type='password' name='password' placeholder='password'>

    
    <button>register expert</button>
    </form>

    
