<% layout('/layout/boilerplate2.ejs')%>
    <h1>hello</h1>
    <div class="card shadow-lg m-3" id='pop' >
        <div class="card-body text-center">
            <h2> client profile</h2>
        <p>Name:<%=client.fullname%></p>
        <p>email:<%=client.email%></p>
        <p>Age:<%=client.age%></p>

    
        <a href="/client/profile/edit">edit profile </a>

        <div>
        <a href="/client/profile/appointment"> view your appointments</a>
        </div>
    
        </div>
    </div>

