<!--FOOTER SECTION-->
<footer class="footer py-4">
    <!--left-->
      <div class="container">
         <div class="row">
        <div class="col-md-4">
            <a class="footer-logo" href="">FinApp</a>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
        </div>
        <div class="col-md-4"> 
    <!--middle-->
          <h4>Useful Links</h4>
          <ul>
            <li><a href="">Home</a></li>
            <li><a href="">Terms of service</a></li>
            <li><a href="">Privacy Policy</a></li>
            <li><a href="">Newsletter</a></li>
            <li><a href="">Contact Us</a></li>
          </ul>
        </div>
        <div class="col-md-4">
    <!--right-->
          <h4>Newsletter</h4>
          <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="rounded-2 btn-main btn btn-success" type="submit">Search</button>
          </form>
        
        </div>
        </div>
    <!--copyright-->
        <div class="w-100 text-center credits">
          <p>FinApp &copy; 2022. All rights reserved.</p>
        </div>
      </div>
     
    </footer>