
    <h2>Client blogs</h2>
    <% for(let blog of clientBlogs){%> 
        <p><%=blog.body%></p>
        <a href="/blog/<%=blog._id%> ">click here to view details</a>
    <%}%>

    <h2>Expert blogs</h2>
    <% for(let blog of expertBlogs){%> 
        <p><%=blog.body%></p>
        <a href="/blog/<%=blog._id%> ">click here to view details</a>

    <%}%>

    <a href="/blog/new" method='get'><h2>add new blog</h2> </a>
