<% layout('/layout/boilerplate2.ejs')%>

<!--Hero blog creating-->
<section>
    <div class="row m-0 p-0" style="background-color: #adadad;">
        <div class="col-md-6" >
            <div class="pt-5 mt-4 ml-3">
                <div class=" mx-5 my-5 ">
                    <h4 class="text-white pt-5" style="font-weight: bold;">
                    WEBSITE > BLOGGING
                    </h4>
                    
                    <h5 class="text-white pr-4 mr-4">Share your story with the world. Stand out with a professionally-designed template that can be customized to fit your brand. Promote your blog and build your online presence with Squarespace's built-in suite of marketing tools.</h5>
                    <form action="/blog/create">
                    <button type="submit" style= "color: black;" class="mb-5 btn btn-large btn-light btn-lg">create your own blog now</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="shadow mx-5 my-5" >
                <img class="img-fluid"  src="https://www.hotelcapuleti.it/wp-content/uploads/2020/07/tyler-franta-iusJ25iYu1c-unsplash.jpg" alt="">
            </div>
        </div>
    </div>
    <!--Pick topic-->
    <div class="row m-0 p-0" style="background-color: #0B0C10;">
        <div class="row">
            <div class="col-4">
                <div class="pt-5 ml-3">
                    <div class=" mx-5 my-5 ">
                        <h1 class="fs-1" style="font-weight:bolder; font-size:xx-large;"">
                            Pick your 
                            </h1>
                        <h1 class="fs-1" style="font-weight:bolder; font-size:xx-large;"">
                               starting point
                            </h1>
                    </div>
                </div>
    
            </div>
            <div class="col-6">
                <h5 class="text-white pr-4 mr-4 mt-5 pt-5">Share your story with the world. Stand out with a financial topic. Promote your blog and build your online presence with FinApp's built-in suite of marketing tools.</h5>
    
            </div>
        </div>
        <div class="row">
            <div class="col-3 order-1"></div>
            <div class="col-9 order-2">
                <img class="img-fluid" style="height: 70%;" src="https://www.hotelcapuleti.it/wp-content/uploads/2020/07/tyler-franta-iusJ25iYu1c-unsplash.jpg" alt="">
    
            </div>
    
        </div>
    </div>
    <!--How to create blog-->
    
    <!--Main blog creating-->
    
