<% layout('/layout/boilerplate.ejs')%>
    
    <h1>client login</h1>
    <!-- later add flash message -->

    <form action='/client/login' method='post'>
        <input type='text' name='username' placeholder='username'>
        <input type='password' name='password' placeholder='password'>
    
    <button>log in</button>
    </form>

    
