<% layout('/layout/boilerplate2.ejs')%>

<section class="home hero intro container mt-3 mb-5 " id="intro">
    <div class="cond-flex justify-content-around ">
        <div class="container d-flex justify-content-around">
            <div class="col-md-5 text-md-start">

                <h1>
                <div class="display-5 py-3 mt-3">Client profile</div>
                </h1>

                <div style="display:inline">
                <h5 class="lead my-4"  style="display:inline" >Name:</h5>
                <p ><%=clientUser.fullname%></p>
                </div>

                <h5 class="lead my-4">Age:</h5>
                <p><%=clientUser.age%></p>

                <h5 class="lead my-4">Email:</h5>
                <p><%=clientUser.email%></p>
                <a href="/client/profile/edit"><button>edit profile</button> </a>

                <div>
                <a href="/client/profile/appointment"> <button>view your appointments</button></a>
                </div>
                
            </div>

            <div class="col-md-5 text-center">
                <img style="height:450px" class='img-fluid w-100 d-none d-md-block my-4 pt-5 shadow-lg' src="<%=clientUser.img.url%>">
            </div>
    </div>
</section>

    


