<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">  
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css"  href="/css/homepage.css">
    <style>
        /* .navbar{
            background-color: black;
        } */
    </style>
</head>
<body>
    <!-- NAVBAR  -->

        <nav class="navbar">
            <div class="container justify-content-center">
                <a href="#intro" class='navbar-brand'>
                    <btn class="btn btn-warning p-3  ">
                    <span class="fw-bold text- p-3">
                        blogs
                    </span>
                    </btn>
                    <btn class="btn btn-warning p-3">
                    <span class="fw-bold  p-3">
                        experts
                    </span>
                    </btn>
                    <btn class="btn btn-warning p-3">
                        <span class="fw-bold  p-3">
                            news
                        </span>
                    </btn>
                </a>
            </div>
        
        </nav>
        
        <!-- INTRO -->
        <section id="intro">
            <div class="d-flex justify-content-around m-3 p-3">
                <div class="d-flex justify-content-around">
                    <div class="col-md-5 text-center text-md-start">
                        <h1>
                        <div class="display-2">FinApp</div>
                        <div class="display-5 text-muted">master the world of finance</div>
                        </h1>
                        <p class="lead my-4 text-muted">FinApp is on a mission to empower students to become financially literate.
    
                            It’s simple, effective and fun.
                            
                            Users connect free with experts. Chat with experts, schedule online appointments with them, and even have them look at your future investment plan! 
                            
                            Join in and read numerous financial blogs and articles, from tax advice, investment strategies to economic trends. 
                            
                            Become the master of your personal finance and the finance world around you. 
                            </p>
                    </div>
    
                    <div class="col-md-5 text-center">
                        <!-- this means that when very small: col=12; 
                        when reach medium, col=5 -->
                        <!-- image fluid means that image element=100% parent always -->
                        <img style="height:450px" class='img-fluid d-none d-md-block' src="https://wallpapercave.com/wp/wp2446263.jpg">
                
                
                
                    </div>
            </div>
        </section>
    
    
        <!-- PRICING PLANS  -->
        <section id="pricing" class='bg-light m-3 p-3'>
            <div class="container-lg ">
                <div class="text-center p-3">
                    <h2>How we help you</h2>
                </div>
                <div class=" row my-5 align-items-center mt-1">
                    <div class=" col-sm-4 g-0">
                        <div class="card  shadow-lg" id='pop' style="height:300px">
                            <div class="card-body text-center">
                                <p class="lead my-4 text-warning fw-bold">stay updated on financial news</p>
                                <p class="card-text mx-5 text-muted d-none d-lg-block">get insights into economic trends and the stock market</p>
                                <a href="#" class="btn btn-outline-warning btn-lg mt-3">view more</a>
                            </div>
                        </div>
                    </div>
                    <div class=" col-sm-4 g-0 " >
                        <div class="card  shadow-lg" id='pop' style="height:300px">
                            <div class="card-body text-center">
                                <p class="lead my-4 text-warning fw-bold">join forums on financial topics</p>
                                <p class="card-text mx-5 text-muted d-none d-lg-block">Read and share blogs about finance</p>
                                <a href="#" class="btn btn-outline-warning btn-lg mt-3">view more</a>
                            </div>
                        </div>
                    </div>
                    <div class=" col-sm-4 g-0">
                        <div class="card  shadow-lg" id='pop' style="height:300px">
                            <div class="card-body text-center">
                                <p class="lead my-4 text-warning fw-bold">get connected to experts</p>
                                <p class="card-text mx-5 text-muted d-none d-lg-block">We help you connect free with financial experts. Schedule appointments or chat live with experts now!</p>
                                <a href="#" class="btn btn-outline-warning btn-lg mt-3">view more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
        </section>
        
        <!-- EXPERTS  -->
        <section id='experts' class="bg-dark mt-1"  >
            <div class="container-lg pt-5 pb-5 " >
                <div class="row d-flex container justify-content-between " style="margin: 0; padding:0" >
                    <div class="col text-center text-md-start mr-5" style="position: relative;"  >
                        <h1>
                            <div class="display-5 text-white">Connect with experts now!</div>
                        </h1>
                        <p class="lead my-4 text-white"> We connect with with leading experts in the field. It's free!
                        </p>
                        <p class="lead text-white"> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nobis sed quaerat adipisci vero, magnam itaque. Minus vitae, quo sunt ducimus porro tempora in fuga recusandae sit nesciunt animi at vero!</p>
                        
                        <div class="d-flex justify-content-center">
                        </div>

                        <button class="btn btn-large bg-warning" style="position: absolute; bottom:30px;left: 70px; width: 300px; ">View all experts</button>
                    </div>

                   <div class="col text-center ml-5">
                                 <!-- Carousel -->
                                <div id="demo" class="carousel slide bg-light " data-bs-ride="carousel "  style="width: 600px; height:500px; position: relative;">

                                    <!-- Indicators/dots -->
                                    <div class="carousel-indicators" style="position:absolute; bottom: 180px;">
                                        <button id ='this_btn' type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"  ></button>
                                        <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
                                        <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
                                    </div>
                                
                                    <!-- The slideshow/carousel -->
                                    <!-- <div class="container justify-content-center" > -->
                                    <div class="carousel-inner container text-center" style="height: 100%;width:100%;color: white; padding: 0;" >
                                    
                                        <div class="carousel-item active bg-dark " style="height: 100%; position: relative;">
                                            <img src="https://fifthperson.com/wp-content/uploads/2015/04/warren-buffett.jpg"  width="100%" height="300px">
                                            <div class="p-3">
                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est similique velit aspernatur in soluta deserunt laboriosam quos perferendis. Molestias perferendis magnam delectus, eaque a tempora eius repellendus quibusdam earum suscipit?</p>
                                            </div>
                                            <div>
                                                <btn class="btn btn-warning" style="position: absolute;bottom: 30px; left: 32%;">connect with this expert now</btn>
                                            </div>

                                        </div>

                                        <div class="carousel-item  bg-dark container text-center" style="height: 100%; position: relative;">
                                            <img  src="https://media.npr.org/assets/img/2021/04/25/ap21114783083708_custom-75a1c4f0411b4d20016eb8696f1a4ea2519f599d-s1100-c50.jpg" width="100%" height="300px">
                                            <div class="p-3">
                                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est similique velit aspernatur in soluta deserunt laboriosam quos perferendis. Molestias perferendis magnam delectus, eaque a tempora eius repellendus quibusdam earum suscipit?</p>
                                            
                                            </div>
                                            <btn class="btn btn-warning" style="position: absolute;bottom: 30px; left: 32%;">connect with this expert now</btn>
                                        </div>

                                        <div class="carousel-item  bg-dark" style="height: 100%; position: relative;">
                                            <img   src="https://image.cnbcfm.com/api/v1/image/104891709-Bill_Gates_the_co-Founder.jpg?v=1558120888" width="100%" height="300px">
                                            <div  class="p-3">
                                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est similique velit aspernatur in soluta deserunt laboriosam quos perferendis. Molestias perferendis magnam delectus, eaque a tempora eius repellendus quibusdam earum suscipit?</p>
                                            </div>
                                            <btn class="btn btn-warning" style="position: absolute;bottom: 30px; left: 32%;">connect with this expert now</btn>
                                        </div>
                                    </div>
                                
                                    <!-- Left and right controls/icons -->
                                    <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev"  >
                                    <span class="carousel-control-prev-icon"></span>
                                    </button>
                                    <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
                                    <span class="carousel-control-next-icon"></span>
                                    </button>

                                </div>
                    </div> 
                </div>
                    
                    
    
                    


                </div>
            </div>
        </section>


        <!-- BLOGS  -->
        <section id="blogs" class="bg-light ml-0 mr-0 mt-0 pb-3 text-center  " style="height: 650px;">
            <!-- Carousel -->
            <div id="blogSlide" class="carousel slide" data-bs-ride="carousel" style="height: 500px; width: 100%;"> 

                <!-- Indicators/dots -->
                <div class="carousel-indicators">

                <button  data-bs-target="#blogSlide" data-bs-slide-to="0" class="active" > 
                </button>
                <button  data-bs-target="#blogSlide" data-bs-slide-to="1"> </button>
                <button data-bs-target="#blogSlide" data-bs-slide-to="2"></button>
                

                </div>
            
                <!-- The slideshow/carousel -->
                <div class="carousel-inner" style="padding-left: 120px;padding-right: 120px;">
                    <div class="text-center lead text-white p-3">
                        <h2  class="display-5 text-dark">BLOGS</h2>
                    </div>
                <div class="carousel-item active">
                    <div class="container-lg ">
                        
                        <div class=" row  align-items-center mt-1 p-3">
                            <div class=" col-sm-4 g-0 p-2">
                                <div class="card shadow-sm" id='pop' style="height:300px">
                                    <div class="card-body text-center">
                                        <p class="lead my-4 text-warning fw-bold">blog title</p>
                                        <p class="lead my-4 text-muted fw-bold">written by author_name</p>
                                        <a href="#" class="btn btn-outline-warning btn-lg mt-3">read more</a>
                                    </div>
                                </div>
                            </div>
                            <div class=" col-sm-4 g-0 p-2" >
                                <div class="card shadow-sm" id='pop' style="height:300px">
                                    <div class="card-body text-center">
                                        <p class="lead my-4 text-warning fw-bold">blog title</p>
                                        <p class="lead my-4 text-muted fw-bold">written by author_name</p>
                                        <a href="#" class="btn btn-outline-warning btn-lg mt-3">read more</a>
                                    </div>
                                </div>
                            </div>
                            <div class=" col-sm-4 g-0 p-2">
                                <div class="card shadow-sm" id='pop' style="height:300px">
                                    <div class="card-body text-center" style="height: 100%;">
                                        <p class="lead my-4 text-warning fw-bold">blog title</p>
                                        <p class="lead my-4 text-muted fw-bold">written by author_name</p>
                                        <a href="#" class="btn btn-outline-warning btn-lg mt-3">read more</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="container-lg ">
                        
                        <div class=" row  align-items-center mt-1 p-3">
                            <div class=" col-sm-4 g-0 p-2">
                                <div class="card shadow-lg" id='pop' style="height:300px">
                                    <div class="card-body text-center">
                                        <p class="lead my-4 text-warning fw-bold">blog title</p>
                                        <p class="lead my-4 text-muted fw-bold">written by author_name</p>
                                        <a href="#" class="btn btn-outline-warning btn-lg mt-3">read more</a>
                                    </div>
                                </div>
                            </div>
                            <div class=" col-sm-4 g-0 p-2" >
                                <div class="card shadow-lg" id='pop' style="height:300px">
                                    <div class="card-body text-center">
                                        <p class="lead my-4 text-warning fw-bold">blog title</p>
                                        <p class="lead my-4 text-muted fw-bold">written by author_name</p>
                                        <a href="#" class="btn btn-outline-warning btn-lg mt-3">read more</a>
                                    </div>
                                </div>
                            </div>
                            <div class=" col-sm-4 g-0 p-2">
                                <div class="card shadow-lg" id='pop' style="height:300px">
                                    <div class="card-body text-center" style="height: 100%;">
                                        <p class="lead my-4 text-warning fw-bold">blog title</p>
                                        <p class="lead my-4 text-muted fw-bold">written by author_name</p>
                                        <a href="#" class="btn btn-outline-warning btn-lg mt-3">read more</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="container-lg ">
                        
                        <div class=" row  align-items-center mt-1 p-3">
                            <div class=" col-sm-4 g-0 p-2">
                                <div class="card shadow-lg" id='pop' style="height:300px">
                                    <div class="card-body text-center">
                                        <p class="lead my-4 text-warning fw-bold">blog title</p>
                                        <p class="lead my-4 text-muted fw-bold">written by author_name</p>
                                        <a href="#" class="btn btn-outline-warning btn-lg mt-3">read more</a>
                                    </div>
                                </div>
                            </div>
                            <div class=" col-sm-4 g-0 p-2" >
                                <div class="card shadow-lg" id='pop' style="height:300px">
                                    <div class="card-body text-center">
                                        <p class="lead my-4 text-warning fw-bold">blog title</p>
                                        <p class="lead my-4 text-muted fw-bold">written by author_name</p>
                                        <a href="#" class="btn btn-outline-warning btn-lg mt-3">read more</a>
                                    </div>
                                </div>
                            </div>
                            <div class=" col-sm-4 g-0 p-2">
                                <div class="card shadow-lg" id='pop' style="height:300px">
                                    <div class="card-body text-center" style="height: 100%;">
                                        <p class="lead my-4 text-warning fw-bold">blog title</p>
                                        <p class="lead my-4 text-muted fw-bold">written by author_name</p>
                                        <a href="#" class="btn btn-outline-warning btn-lg mt-3">read more</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            
                <!-- Left and right controls/icons -->
                <button class="carousel-control-prev" type="button" data-bs-target="#blogSlide" data-bs-slide="prev">
                <span class="carousel-control-prev-icon"></span>
                </button>
                
                <button class="carousel-control-next" type="button" data-bs-target="#blogSlide" data-bs-slide="next">
                <span class="carousel-control-next-icon"></span>
                </button>
            </div>
            <div class="container m-3 p-3">
                <div>
                    <button class="btn btn-warning lead text-white " style="width: 300px;"> VIEW ALL BLOGS</button>
                </div>
                <div>
                    <p class="display">Or...</p>
                </div>
                <div>
                    <button class="btn btn-warning lead text-white " style="width: 300px;"> CREATE YOUR OWN BLOG NOW!</button>
                </div>

            </div>
            

            
        </section>


        <!-- FORMS  -->
        <!-- <section id="contact" class="bg-light">
            <div class="container bg-light text-center" >
                <form style="width: 300px;">
                    <div class="form-row">
                      <div class="form-group col-md-6">
                        <label for="inputEmail4">Email</label>
                        <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
                      </div>
                      <div class="form-group col-md-6">
                        <label for="inputPassword4">Password</label>
                        <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="inputAddress">Address</label>
                      <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
                    </div>
                    <div class="form-group">
                      <label for="inputAddress2">Address 2</label>
                      <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
                    </div>
                    <div class="form-row">
                      <div class="form-group col-md-6">
                        <label for="inputCity">City</label>
                        <input type="text" class="form-control" id="inputCity">
                      </div>
                      <div class="form-group col-md-4">
                        <label for="inputState">State</label>
                        <select id="inputState" class="form-control">
                          <option selected>Choose...</option>
                          <option>...</option>
                        </select>
                      </div>
                      <div class="form-group col-md-2">
                        <label for="inputZip">Zip</label>
                        <input type="text" class="form-control" id="inputZip">
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="gridCheck">
                        <label class="form-check-label" for="gridCheck">
                          Check me out
                        </label>
                      </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Sign in</button>
                  </form>
            </div>
            
        </section> -->

    <!-- Footer -->
<footer class="page-footer font-small blue">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2022 Copyright:
      <a > FinApp</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->
</body>
<!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script> -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
</html>